/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.custom-popup .leaflet-popup-content-wrapper {
  background:#081217;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:20px;
  height:0px;
  }
  #flag {
  width: 30%;
  margin: 0 auto;
}
#cases {
  color: #e60000;
}
#deaths {
  color: #A48B6B
}
#recovered {
 color: #10C369;
}
